.card {
  height: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.grid {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}
